<template>
	<div>
		<h1>Product List</h1>
			<img
        v-if="loading"
        src="https://i.imgur.com/JfPpwOA.gif"
      >
    <ul v-else>
			<li v-for="product in products">
				{{product.title}} - {{product.price | currency}} - {{product.inventory}}
				<button 
					:disabled="!productIsInStock(product)"
					@click="addProductToCart(product)"
				>
					Add to cart
				</button>
			</li>
		</ul>
	</div>
</template>

<script>
	import {mapState, mapGetters, mapActions} from 'vuex'
	export default {
		data(){
			return {
				loading: false
			}
		},
		computed: {
			...mapState({
				products: state => state.products.items //if want to make function
				// products: 'products' //this with get auto products in state without function
			}),

			//function state without helpers
			// products(){
			// 	return this.$store.state.products
			// },

			...mapGetters('products', {
				productIsInStock: 'productIsInStock'
			})

			//function getters without helpers
			// productIsInStock(){
			// 	return this.$store.getters.productIsInStock
			// }
		},

		methods:{
			...mapActions({
				fetchProducts: 'products/fetchProducts',
				addProductToCart: 'cart/addProductToCart'
			}),

			//function actions or mutations without helpers
			// addToCart(product){
			// 	this.$store.dispatch('addProductToCart', product)
			// }
		},

		created () {
			this.loading = true;
			this.fetchProducts()
				.then(() => this.loading = false)
			console.log(this.loading)
		}
	}
</script>