<template>
	<div>
		<h1>Cart List</h1>
    <ul>
			<li v-for="product in products">
				{{product.title}} - {{product.price | currency}} - {{product.quantity}}
			</li>

			<p>{{total | currency}}</p>
			<button @click="checkout">Checkout</button>
			<p v-if="checkoutStatus">{{checkoutStatus}}</p>
		</ul>
	</div>
</template>

<script>
	import {mapGetters, mapState, mapActions} from 'vuex'

	export default{
		computed:{
			...mapState({
				checkoutStatus: state => state.cart.checkoutStatus
			}),

			...mapGetters('cart', {
				products: 'getCartProducts',
				total: 'cartTotal'
			}),
			// products(){
			// 	return this.$store.getters.getCartProducts
			// },

			// total(){
			// 	return this.$store.getters.cartTotal
			// }
		},

		methods: {
      ...mapActions('cart', ['checkout'])
    }
	}
</script>